# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Tests
.pytest_cache/
.coverage
htmlcov/

# Model files (Large)
# Uncomment the line below if you are NOT using Git LFS
# model/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
desktop.ini
